@model IEnumerable<Club_de_la_Hamburguesa___PNT1.Models.Tarjeta>

@{
    ViewData["Title"] = "Index";
}

<h1 class="titulo">Tarjetas registradas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="historial-tables">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnioVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoSeguridad)
            </th>
            <th>ID de Usuario</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoSeguridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
