@model Club_de_la_Hamburguesa___PNT1.Models.Pedido

<h1 class="confir">¡Pedido realizado con éxito!</h1>

<p class="confir"><strong>Fecha:</strong> @Model.Fecha</p>

<h3 class="confir">Detalle del pedido:</h3>
<ul>
    @foreach (var item in Model.Items)
    {
        <li class="confir">
            @item.Hamburguesa.Nombre — $@item.Hamburguesa.Precio x @item.Cantidad
        </li>
    }
</ul>

<p class="confir"><strong>Bebida:</strong> @Model.BebidaElegida (@((int)Model.BebidaElegida) $)</p>
<p class="confir"><strong>Ingrediente extra:</strong> @Model.IngredienteAdicional (@((int)Model.IngredienteAdicional) $)</p>

<p class="confir"><strong>Total:</strong> $@Model.ObtenerMontoTotal()</p>

<div class="boton">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al inicio</a>
</div>
